<nav>
  <div><span>Item 1</span></div>
  <div><span>Item 2</span></div>
  <div class="current"><span>Item 3</span></div>
  <div><span>Item 4</span></div>
  <div><span>Item 5</span></div>
</nav>

<form>
  <label for="type">Type</label>
  <input id="type" autofocus/>
  <label for="personal">Personal</label>
  <input id="personal"/>
  <label for="identification">Identification</label>
  <input id="identification"/>
  <label for="documentation">Documentation</label>
  <input id="documentation"/>
  <label for="finalize">Finalize</label>
  <input id="finalize"/>
  <div>
    <button>Previous</button>
    <button>Next</button>
  </div>
</form>
